/*SEARCH WIDGET*/
.search-widget {
    display: flex;
    z-index: 1002;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    top: 0;
    padding: 8px 0px;
    background-color: #007BFF;
    background-color: #0D1B2A;
    XXXborder: solid 1px red;
}

.search-widget * {
    XXXborder: solid 1px red;
}

.search-widget__area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    padding: 0px 0px;
    height: 100%;
}

/*SEARCH WIDGET SIDEBAR*/
.search-widget__sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.search-widget__sidebar_link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.search-widget__sidebar_wrapper {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    overflow: hidden;
}

.search-widget__sidebar_wrapper img {
    height: 100%;
    width: 100%;
    filter: invert(1);
    object-fit: cover;
}

/*SEARCH WIDGET LOGO*/
.search-widget__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 0px 0px;
    overflow: hidden;
    user-select: none;
}

.search-widget__logo_text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
    padding: 0px;
    overflow: hidden;
    text-transform: uppercase;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #191919;
    color: #ffffff;
}

/*SEARCH WIDGET SEARCH*/
.search-widget__search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    padding: 0px 0px 0px 0px;
    user-select: none;
}

.search-widget__search_bar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    width: auto;
    max-width: 700px;
    height: 100%;
    gap: 6px;
    padding: 4px 4px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    outline: none;
}

.search-widget__search_input {
    display: flex;
    width: 352px;
    height: 100%;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
}

.search-widget__search_button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 100%;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #0D1B2A;
    border: none;
    outline: none;
}

.search-widget__search_button img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0) saturate(100%) invert(100%);
}

@media (max-width: 1324px) {

    .search-widget {
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 56px;
        top: 0;
        padding: 8px 16px;
        background-color: #007BFF;
        background-color: #0D1B2A;
        XXXborder: solid 1px red;
    }

    .search-widget * {
        XXXborder: solid 1px red;
    }

    .search-widget__area {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0px 0px;
        height: 100%;
    }

    /*SEARCH WIDGET SIDEBAR*/
    .search-widget__sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        overflow: hidden;
        cursor: pointer;
        user-select: none;
    }

    .search-widget__sidebar_wrapper {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        overflow: hidden;
    }

    .search-widget__sidebar_wrapper img {
        height: 100%;
        width: 100%;
        filter: invert(1);
        object-fit: cover;
    }

    /*SEARCH WIDGET LOGO*/
    .search-widget__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 100%;
        padding: 0px 0px;
        overflow: hidden;
        user-select: none;
    }

    .search-widget__logo_text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        padding: 0px;
        overflow: hidden;
        text-transform: uppercase;
        font-family: 'Press Start 2P', sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: #191919;
        color: #ffffff;
    }

    /*SEARCH WIDGET SEARCH*/
    .search-widget__search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 40px;
        padding: 0px 0px 0px 0px;
        user-select: none;
    }

    .search-widget__search_bar {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: start;
        flex-direction: row;
        width: auto;
        max-width: 600px;
        height: 100%;
        gap: 6px;
        padding: 4px 4px;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        outline: none;
    }

    .search-widget__search_input {
        display: flex;
        width: 320px;
        height: 100%;
        padding: 8px;
        font-size: 14px;
        font-weight: 400;
        border: none;
        outline: none;
    }

    .search-widget__search_button {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 100%;
        padding: 5px;
        cursor: pointer;
        border-radius: 4px;
        background-color: #0D1B2A;
        border: none;
        outline: none;
    }

    .search-widget__search_button img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(0) saturate(100%) invert(100%);
    }
}

@media (max-width: 832px) {

    .search-widget {
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 56px;
        top: 0;
        padding: 8px 8px;
        background-color: #007BFF;
        background-color: #0D1B2A;
        XXXborder: solid 1px red;
    }

    .search-widget * {
        XXXborder: solid 1px red;
    }

    .search-widget__area {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0px 0px;
        gap: 12px;
        height: 100%;
    }

    /*SEARCH WIDGET SIDEBAR*/
    .search-widget__sidebar {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        overflow: hidden;
        cursor: pointer;
        user-select: none;
    }

    .search-widget__sidebar_wrapper {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        padding: 4px;
        overflow: hidden;
    }

    .search-widget__sidebar_wrapper img {
        height: 100%;
        width: 100%;
        filter: invert(1);
        object-fit: cover;
    }

    /*SEARCH WIDGET LOGO*/
    .search-widget__logo {
        display: none;
    }

    /*SEARCH WIDGET SEARCH*/
    .search-widget__search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        padding: 0px 0px 0px 0px;
        user-select: none;
    }

    .search-widget__search_bar {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        max-width: 1200px;
        height: 40px;
        gap: 6px;
        padding: 4px 4px;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        outline: none;
    }

    .search-widget__search_input {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 8px;
        font-size: 12px;
        font-weight: 400;
        border: none;
        outline: none;
    }

    .search-widget__search_button {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 100%;
        padding: 6px;
        cursor: pointer;
        border-radius: 4px;
        background-color: #0D1B2A;
        border: none;
        outline: none;
    }

    .search-widget__search_button img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(0) saturate(100%) invert(100%);
    }
}

@media (max-width: 312px) {}