* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
    -webkit-tap-highlight-color: transparent !important;
}

body {
    background-color: #ffffff;
    color: #007BFF;
    /*AZUL BOOTSTRAP*/
    color: #333333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF9F8;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.page * {
    XXXborder: solid 1px red;
}

.page__header,
.page__body,
.page__footer {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    gap: 32px;
    XXXborder: solid 1px red;
}

.page__header * {
    XXXborder: solid 1px red;
}

.page__body {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 32px 32px;
    gap: 32px; 
}


.page__footer {}

@media (max-width: 832px) {

    .page {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 0px;
    }

    .page__header,
    .page__body,
    .page__footer {
        display: flex;
        width: auto;
        height: auto;
        flex-direction: column;
        gap: 32px;
        XXXborder: solid 1px red;
    }

    .page__header {}

    .page__body {}


    .page__footer {}
}

@media (max-width: 430px) {}